{% extends "layout.html" %}
{% block body%}
<div class="box-img">
    <div style="background-image: url('/static/background2.jpg');" class="box-background">
        <h1>ABOUT</h1>
        <p>Coder's Heaven</p>
    </div>
    </div>
    </header>
<main>
<div class="blog-content-box">
<div class="about-box">
    <h1>About Bit Coder</h1>
   <p> Welcome to Bit Coder! My name is Shivam Kumar, and I am a computer science engineering student with a passion for technology and sharing knowledge. Bit Coder is a platform where we share insightful posts related to computer science that can take your coding skills and tech understanding to the next level.
    At Bit Coder, you will find discussions on logical puzzles, trending topics, and the latest concepts in computer science. This blog is not just an information hub but a learning community where every post is crafted with a fresh perspective.
    Our goal is to create a platform for tech enthusiasts and students that clears their doubts, inspires them, and educates them about new trends and innovative solutions.
    </p>
<h1>Join the Discussion</h1>
<p>Be a part of Bit Coder and contribute to discussions about the latest trends. This is a journey filled with new ideas, logical thinking, and creativity. Let’s come together to achieve new heights in technology!
</p>
</div>
</div>
</main>
{% endblock%}