{% extends "layout.html" %}
{% block body%}
<div class="box-img">
    <div style="background-image: url('/static/background3.jpg');" class="box-background">
        <div>
            <h1>CONTACT</h1>
        <p>Coder's Heaven</p>
        </div>
        <div class="social">
            <a id="hel" style="background-image: url('/static/insta.jpg');" href="https://www.instagram.com/shivam_kumar037s/"></a>
            <a style="background-image: url('/static/linkedin.png');" href="https://www.linkedin.com/in/shivam-kumar-347473310/"></a>
            <a style="background-image: url('/static/x.png');" href="https://x.com/shivamkumar_037?t=2NSjmN5qEIzlm50fraOMUA&s=09"></a>
            <a style="background-image: url('/static/git.png');" href=""></a>
            <p>shivamkumar37je@gmail</p>
        </div>
    </div>
    </div>
    </header>
<main>
<div class="blog-content-box">
<form action="" method="post">
    <label for="name">Name</label>
    <input id="name" type="text" name="name">
    <label for="number">Number:-</label>
    <input type="number" id="number" name="number">
    <label for="email ">Gmail Id:-</label>
    <input type="email" id="email" name="email">
    <label for="message">Message:-</label>
    <textarea name="message" id="message"></textarea>
    <button id="submit">SUBMIT</button>
</form>
</div>
</main>
{% endblock%}