{% extends "layout.html" %}
{% block body%}

<div class="box-img">
    <div class="box-background">
        <h1>BLOG</h1>
        <p>Coder's Heaven</p>
    </div>
    </div>
    </header>
<main>
<div  id="blog-content-box-home">
 <a class="blog-content" href="/posts#post1">

    <div class="content-img">JSON</div>
    <h1 class="blog-title">
        JSON (JavaScript Object Notation)
    </h1>
    <p class="publish_time">published:-4/4/2025 </p>
</a>
<a class="blog-content" href="/posts#post2">

    <div class="content-img">JS</div>
    <h1 class="blog-title">
        Complete JavaScript DOM Manipulation Guide
    </h1>
    <p class="publish_time">published:-6/4/2025 </p>
</a>



</div>

</main>

{% endblock%}